@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");

body {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	margin: 0;
	background: #111;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
    min-height: 150vh;
    gap: 30px;
    align-items: center;
    overflow-x: hidden;
}

.flex-center {
	display: flex;
	justify-content: center;
}

.flex-center  h1 {
    margin-top: 25vh;
}

.header-center {
	align-items: center;
	flex-direction: column;
	margin-top: 10%;
}

.left-margin {
	margin: 0px 16px;
}

#sj-frame {
	border: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #111;
}

.desc {
	width: 560px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.desc h1 {
    font-size: 80px;
    color: rgba(0, 128, 0, 0.502);
    transition: all 0.4s ease;
    cursor: pointer;
}

.desc h1:hover {
    transform: translateY(-10px);
    color: green;
}

@property --reveal {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}

.desc p {  
    --reveal: 0%;

    background-image: linear-gradient(
        90deg,
        blue 0%,
        purple var(--reveal),
        transparent var(--reveal)
    );

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    animation: reveal 1s ease-in-out forwards;
    transition: all 0.3s ease;
    cursor: pointer;
}

@keyframes reveal {
    from { --reveal: 0%; }
    to   { --reveal: 100%; }
}

.desc p:hover {
    transform: translateY(-10px);
}

#sj-address {
	background: none;
	font-family: inherit;
	padding: 0px 17px;
	height: 48px;
	border: 1px solid rgb(255, 255, 255, 0.2);
	color: var(--text-color);
	border-radius: 3px;
	outline: none;
	width: 100px;
	margin-top: 5px;
	border-radius: 50px;
	color: #fff;
	transition: all 0.4s ease;
    text-align: center;
    color: gray;
}

#sj-address:hover {
	border: 1px solid rgba(255, 255, 255, 0.649);
}

#sj-address:focus {
    width: 340px;
    color: rgba(245, 245, 245, 0.831);
}

.cards-container {
    transform: rotate(15deg);
    position: absolute;
    top: 100px;
    right: 100px;
}

.cards-container-2 {
    transform: rotate(-15deg);
    position: absolute;
    bottom: 100px;
    left: 100px;
}

.cards-wrapper {
    background: none;
    border-radius: 10px;
    max-width: 300px;
    max-height: 300px;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    overflow: hidden;
    transition: 0.3s;
}

.cards-container .card {
    width: 125px;
    height: 150px;
    border-radius: 10px;
    animation: moveBack 10s linear infinite;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.cards-container-2 .card {
    width: 125px;
    height: 150px;
    border-radius: 10px;
    animation: moveBack 10s linear infinite;
    animation-direction: reverse;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@keyframes moveBack {
    0% {
        transform: translateY(-500px)
    }
    100% {
        transform: translateY(10px);
    }
}

.games-wrapper {
    display: flex;
    max-width: calc(100% - 500px);
    padding: 20px;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50vh;
    margin-bottom: 10vh;
}

.games-wrapper span {
    padding: 10px;
    width: 125px;
    max-width: 125px !important;
    height: 75px;
    max-height: 75px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.372);
    cursor: pointer;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    transition: 0.2s ease;
}

.games-wrapper span:hover {
    scale: 1.1;
}

.games-wrapper span p {
    background-image: linear-gradient(90deg, green, rgb(6, 90, 6));
    color: transparent;
    background-clip: text;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}